@media (max-width: 768px) {
  header .narbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .leverls .rect {
    width: 10rem;
    height: 8rem;
  }

  .leverls .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }

  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }

  .section-3 .row .col-md-6 {
    text-align: center !important;
  }

  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }

  .section-4 .team {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 24rem;
  }

  .section-4 .carousel-inner {
    width: 30rem;
  }
}

@media (max-width: 320px) {
  .section-4 .card {
    width: 18rem;
  }

  .section-4 .carousel-inner {
    margin-left: -14vmin;
  }
}
