.headingBox{ 
  background-color: #333333;
  padding-top: 80px;
  padding-bottom: 80px;
}

.intor {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  height: 600px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #000000;
  background-color: #ffffff; 
  border-radius: 25px;
}

.content1 {
  height: 600px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f2f2f2;
  border-radius: 40px;
  color: #000000;
}

.itemInContent {
 margin-top: 150px;
 text-align: left;
}

@media (max-width: 767px) {
  .itemInContent {
    margin-top: 50px;
    text-align: left;
   }
}

.inforImg {
  width: 63%;
  height: 66%;
  border-radius: 200px;
  border-style: solid;
  border-color: #A7A7A7;
}

.footerBox {
  height: 300px;
  background-color: #333333;
}

