<!DOCTYPE html>
<html lang="zh-CN">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Template of website">
  <meta name="author" content="chris">
  <title>Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/assets/css/bootstrap-theme.css" />

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="../static/assets/css/carousel.css" />
  <link rel="stylesheet" href="../static/assets/css/cover.css" />
  <link rel="stylesheet" href="../static/assets/css/about.css"/>
</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">超级小象</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="index.html">首页</a></li>
              <li><a href="course.html">课程</a></li>
              <li class="active"><a href=".">选择我们</a></li>
              <li><a href="contect.html">联系我们</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Poster -->
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img class="first-slide" src="../img/children-593313_1920_header_code_it_studio.jpg" alt="First slide"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>选择我们，让孩子赢在起跑线上</h1>
            <p>我们拥有强大的师资力量，现进的教学模式以及完善的课程体系。助力孩子全面发展。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Poster -->

  <!-- container -->
  <div>
    <!-- 选择我们 -->
    <div class="row content">
      <div class="commonTitle">
        <span>为什么选择我们</span>
        <div class="commonSubTitle">
          海内外专业人士，大学教授以及年轻有活力的创业团队。让课程与时代发展接轨。
        </div>
      </div>

      <div class="descBox">
        <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 textContent">
          <h2>为什么数以万计的家长都选择超能小象？</h2>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 imageContent">

        </div>
      </div>
    </div>
    <!-- /.选择我们 -->

    <!-- 顾问团队 -->
    <div class="row content1">
      <div class="commonTitle">
        <span>师资力量</span>
        <div class="commonSubTitle">
          海内外专业人士，大学教授以及年轻有活力的创业团队。让课程与时代发展接轨。
        </div>
      </div>
      <div class="imgBox">
        <ul>
          <li class="leftImg">
            <div>
              <div class="boxImgOne">
                <img src="../img/teacher.jpg" alt="" class="imgSize">
              </div>
              <div class="boxImgTwo">
                <img src="../img/teacher.jpg" alt="" class="imgSize">
              </div>
              <div class="boxImgThree">
                <img src="../img/teacher.jpg" alt="" class="imgSize1">
              </div>
            </div>
          </li>
          <li class="rightImg">
            <div>
              <div class="boxImgFour">
                <img src="../img/teacher.jpg" alt="" class="imgSize1">
              </div>
              <div class="boxImgFive">
                <img src="../img/teacher.jpg" alt="" class="imgSize">
              </div>
              <div class="boxImgSix">
                <img src="../img/teacher.jpg" alt="" class="imgSize">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.顾问团队 -->
    
    <!-- 教学模式 -->
    <div class="row content">
      <div class="commonTitle">
        <span>教学模式</span>
        <div class="commonSubTitle">
          海内外专业人士，大学教授以及年轻有活力的创业团队。让课程与时代发展接轨。
        </div>
      </div>
    </div>
    <!-- /.教学模式 -->

    <!-- 课程简介 -->
    <div class="row content1">
      <div class="commonTitle">
        <span>课程简介</span>
        <div class="commonSubTitle">
          海内外专业人士，大学教授以及年轻有活力的创业团队。让课程与时代发展接轨。
        </div>
      </div>
      <div class="p3Tab">
        <ul>
          <li class="">Scratch</li>
          <li class="">Python</li>
          <li class="">Java</li>
          <li class="">Swift</li>
        </ul>
        <div class="description"> 
          <p>Scratch 图形化编程，<span>适合6岁以上</span></p>
          <i>我们采用风靡世界，专为孩子设计的图形化编程语言Scratch作为孩子入门编程的第一名语言，Scratch界面友好，生动有趣，每节课孩子都能完成一个创意小作品，能更有效地培养孩子的编程兴趣，提升孩子的编程能力。</i>
        </div>
      </div>
    </div>
    <!-- /.课程简介 -->
    
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="footerBox">
    <p style="padding-top: 150px;">
      &copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
      <a href="#">Terms</a>
    </p>
  </footer>


    <!-- Include javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/holder.min.js"></script>

    <script src="../static/assets/js/bootstrap.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/npm.js"></script>
    <!-- end javascript -->
  </body>
</html>