<!DOCTYPE html>
<html lang="zh-CN">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Template of website">
<meta name="author" content="chris">
<title>Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="static/assets/css/bootstrap-theme.css">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="../static/assets/css/cover.css" >
</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">超级小象</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="index.html">首页</a></li>
              <li><a href="about.html">关于</a></li>
              <li class="active"><a href=".">联系我们</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

</body>

</html>