<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="Template of website" />
    <meta name="author" content="chris" />
    <title>Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/assets/css/course.css" />
    <link rel="stylesheet" href="../static/assets/css/course-moblie.css" />
    <link rel="stylesheet" href="../static/assets/css/navbar.css" />
  </head>

  <body>
    <nav class="navbar navbar-modified navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">超能小象</a>
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#example-navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse pull-right"
          id="example-navbar-collapse"
        >
          <ul class="nav navbar-nav">
            <li><a href="index.html">首页</a></li>
            <li class="active"><a href="course.html">课程</a></li>
            <li><a href="about.html">选择我们</a></li>
            <li><a href="contect.html">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <img
              class="img-responsive center-block"
              src="../img/teacher.jpg"
              alt=""
            />
          </div>
          <div class="col-md-5 col-sm-12 h-25">
            <h3>课程体系</h3>
            <h1>欢迎来到超能小象</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              nam quae, asperiores, eius sunt tempora aperiam, ab pariatur
              excepturi ut dolorum error? Perferendis earum maxime culpa
              consectetur quod, debitis eum!
            </p>
            <a href="index.html" class="btn btn-light px-5 py-2">
              联系我们
            </a>
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <section class="section-1">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-6">
              <div class="teacher">
                <img src="../img/teacher.jpg" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel text-left">
                <h1>超能小象</h1>
                <p class="pt-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugiat repellat aperiam alias incidunt veniam magnam magni
                  itaque architecto explicabo deserunt nisi illum blanditiis
                  obcaecati reiciendis saepe, similique autem praesentium eum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                  illum vero voluptas. Veritatis, soluta fugiat expedita ut
                  assumenda sint ullam quo! Itaque, eum. Quas tempora
                  praesentium omnis laboriosam perferendis facilis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-2 container-fluid p-0">
        <div class="cover">
          <div class="content text-center">
            <h1>分级阶梯图</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Assumenda, dignissimos?
            </p>
          </div>
        </div>
        <div class="container-fluid text-center">
          <div
            class="levels d-flex flex-md-row flex-wrap justify-content-center"
          >
            <div class="rect">
              <h1>S1</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S2</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S3</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S4</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S5</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S6</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S7</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="rect">
              <h1>S8</h1>
              <p>Lorem, ipsum dolor.</p>
            </div>
          </div>
        </div>

        <div class="purchase text-center">
          <h1>课程类型</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia ut ex
            unde commodi molestias dolores!
          </p>
          <div class="course-type">
            <div class="courses">
              <div class="d-flex flex-row justify-content-center flex-wrap">
                <!--First card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">感知课（6课时）</h5>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis, aliquid.
                    </p>
                  </div>
                </div>
                <!--Second card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">感知课（6课时）</h5>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis, aliquid.
                    </p>
                  </div>
                </div>
                <!--Third card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">感知课（6课时）</h5>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis, aliquid.
                    </p>
                  </div>
                </div>
                <!--Fourth card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">感知课（6课时）</h5>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis, aliquid.
                    </p>
                  </div>
                </div>
                <!--Fifth card -->
                <div class="card">
                  <div class="card-body">
                    <div class="title">
                      <h5 class="card-title">感知课（6课时）</h5>
                    </div>
                    <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Nobis, aliquid.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-3 container-fluid p-0 text-center">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1>科目</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
              nam! Distinctio alias voluptatum ut optio dolores ex est debitis
              accusantium rem reiciendis maiores, laborum cum suscipit quaerat
              eligendi fugit accusamus.
            </p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12 col-sm-12">
            <div class="panel text-center">
              <h1>超能小象</h1>
              <p class="pt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                repellat aperiam alias incidunt veniam magnam magni itaque
                architecto explicabo deserunt nisi illum blanditiis obcaecati
                reiciendis saepe, similique autem praesentium eum.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                illum vero voluptas. Veritatis, soluta fugiat expedita ut
                assumenda sint ullam quo! Itaque, eum. Quas tempora praesentium
                omnis laboriosam perferendis facilis.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-4">
        <div class="container text-center">
          <h1 class="text-dark">课堂环节</h1>
          <p class="text-secondary">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="team row">
          <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img
                  class="img-fluid"
                  src="https://xmcdn.oss-cn-shanghai.aliyuncs.com/xm_teach_pc/1.0.0/prod/1590403401/type01.5052f99.png"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h3 class="card-title">One</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aperiam porro enim consectetur voluptate soluta quisquam
                  deleniti molestias ducimus laboriosam totam. Laudantium sed
                  asperiores voluptatem voluptas incidunt consequatur similique
                  quod expedita.
                </p>
                <p class="text-black-50">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quia, aliquam!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <!-- Carousel Strarted-->
            <div
              id="carouselExampleSlidesOnly"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <!-- Card 2-->
                  <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                      <img
                        class="img-fluid"
                        src="https://xmcdn.oss-cn-shanghai.aliyuncs.com/xm_teach_pc/1.0.0/prod/1590403401/type01.5052f99.png"
                        alt=""
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Tow</h3>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aperiam porro enim consectetur voluptate soluta quisquam
                        deleniti molestias ducimus laboriosam totam. Laudantium
                        sed asperiores voluptatem voluptas incidunt consequatur
                        similique quod expedita.
                      </p>
                      <p class="text-black-50">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Quia, aliquam!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item text-center">
                  <!--Card3-->
                  <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                      <img
                        class="img-fluid"
                        src="https://xmcdn.oss-cn-shanghai.aliyuncs.com/xm_teach_pc/1.0.0/prod/1590403401/type01.5052f99.png"
                        alt=""
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Three</h3>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aperiam porro enim consectetur voluptate soluta quisquam
                        deleniti molestias ducimus laboriosam totam. Laudantium
                        sed asperiores voluptatem voluptas incidunt consequatur
                        similique quod expedita.
                      </p>
                      <p class="text-black-50">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Quia, aliquam!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 text-center">
            <!--Card 4-->
            <div class="card mr-2 d-inline-block shadow-lg">
              <div class="card-img-top">
                <img
                  class="img-fluid"
                  src="https://xmcdn.oss-cn-shanghai.aliyuncs.com/xm_teach_pc/1.0.0/prod/1590403401/type01.5052f99.png"
                  alt=""
                />
              </div>
              <div class="card-body">
                <h3 class="card-title">Four</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aperiam porro enim consectetur voluptate soluta quisquam
                  deleniti molestias ducimus laboriosam totam. Laudantium sed
                  asperiores voluptatem voluptas incidunt consequatur similique
                  quod expedita.
                </p>
                <p class="text-black-50">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quia, aliquam!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footerBox">
      <div class="container-fluid p-0 text-center">
        <p class="text-muted" style="padding-top: 150px;">
          &copy; 2020 Company, Inc. &middot;
          <a href="#" class="text-muted">Privacy</a> &middot;
          <a href="#" class="text-muted">Terms</a>
        </p>
      </div>
    </footer>
    <!-- Include javascript -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="../static/assets/js/main.js"></script>
    <!-- end javascript -->
  </body>
</html>
