<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Template of website"/>
    <meta name="author" content="chris"/>
    <title>Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/assets/css/carousel.css" />
    <link rel="stylesheet" href="../static/assets/css/cover.css" />
    <link rel="stylesheet" href="../static/assets/css/about.css" />
    <link rel="stylesheet" href="../static/assets/css/navbar.css" />

    <!-- Modification for different devices-->
    <link rel="stylesheet" type="text/css" media="screen and (orientation:portrait)" ;href="style.css">
  </head>

  <body>
    <nav class="navbar navbar-modified navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">超能小象</a>
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#example-navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse"
          id="example-navbar-collapse"
        >
          <ul class="nav navbar-nav pull-right">
            <li><a href="index.html">首页</a></li>
            <li><a href="course.html">课程</a></li>
            <li class="active"><a href="teachers.html">师资力量</a></li>
            <li><a href="about.html">选择我们</a></li>
            <li><a href="contect.html">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Poster -->
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img
            class="first-slide"
            src="../img/children-593313_1920_header_code_it_studio.jpg"
            alt="First slide"
          />
          <div class="container">
            <div class="carousel-caption">
              <h1>我们的师资</h1>
              <p>
                苹果官方认证的双语讲师拥有英国华威大学、曼彻斯特大学等海外知名学府的计算机科学与教育学硕士学位。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Poster -->

   <!-- 讲师1 -->
    <div class="content">
      <div class="commonTitle">
        <span>高宇超老师 创始人</span>
        <div class="commonSubTitle">
          苹果官方认证编程教师，WWDC受邀开发者。超过3年编程课程设计与教学经验，广深珠三地教授学生100+，授课时长累计小时数500+。大学计算机科学与技术专业教师。
        </div>
      </div>

      <div class="ourPicBox">
        <img src="../img/teacher.jpg" alt="" class="ourPic" />
      </div>
    </div>
    
    <!-- 讲师2 -->
    <div class="row content1">
      <div class="commonTitle">
        <span>李心铮老师 高级讲师</span>
        <div class="commonSubTitle">
          英国华威大学硕士，苹果官方认证编程教师。英语功底扎实，编程教育专家。
        </div>
      </div>
      
      <div class="ourPicBox">
        <img src="../img/teacher.jpg" alt="" class="ourPic" />
      </div>
    </div>

    <!-- 讲师3 -->
    <div class="content">
      <div class="commonTitle">
        <span>黄颖琳老师 高级讲师</span>
        <div class="commonSubTitle">
          英国曼彻斯特大学国际教育专业硕士，香港浸会大学英语教育专业学士。苹果认证编程教师。
        </div>
      </div>

      <div class="ourPicBox">
        <img src="../img/teacher.jpg" alt="" class="ourPic" />
      </div>
    </div>
   
    <!-- 讲师4 -->
    <div class="row content1">
      <div class="commonTitle">
        <span>李江老师 高级讲师</span>
        <div class="commonSubTitle">
          香港中文大学信息工程学硕士，苹果认证编程教师，精通Swift和Java，3年编程教育经验。
        </div>
      </div>
      
      <div class="ourPicBox">
        <img src="../img/teacher.jpg" alt="" class="ourPic" />
      </div>
    </div>
  

    <!-- 师资 -->
    <div class="row content">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="commonTitle">
          <span>我们的顾问团队</span>
          <div class="commonSubTitle">
            由大学计算机科学与技术专业和数据科学专业的课程主任和教授，以及宾夕法尼亚大学等北美知名高校计算机和英语教育专业在读博士组成。力求即使更新最前沿的授课形式，以确保课程内容与国际接轨。
          </div>
        </div>
        <div class="imgBox">
          <ul class="innerImgBox">
            <li class="leftImg">
              <div>
                <div class="boxImgOne">
                  <img src="../img/teacher.jpg" alt="" class="imgSize" />
                </div>
                <div class="boxImgTwo">
                  <img src="../img/teacher.jpg" alt="" class="imgSize" />
                </div>
                <div class="boxImgThree">
                  <img src="../img/teacher.jpg" alt="" class="imgSize1" />
                </div>
              </div>
            </li>
            <li class="rightImg">
              <div>
                <div class="boxImgFour">
                  <img src="../img/teacher.jpg" alt="" class="imgSize1" />
                </div>
                <div class="boxImgFive">
                  <img src="../img/teacher.jpg" alt="" class="imgSize" />
                </div>
                <div class="boxImgSix">
                  <img src="../img/teacher.jpg" alt="" class="imgSize" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.师资 -->

    <!-- 合作 -->
    <div class="row content1">
      <div class="commonTitle">
        <span>我们的合作</span>
        <div class="commonSubTitle">
          超能小象少儿编程背靠峰悦教育集团（IHD）。该集团公司遍布广深珠三地，有着丰富的国际化教育背景。超能小象作为全国唯一一家中英双语教学的少儿编程教育机构，拥有国际化教育资源为其保驾护航。
        </div>
      </div>
    </div>
    <!-- /.模式 -->

    <!-- FOOTER -->
    <footer class="footerBox">
      <p style="padding-top: 150px;">
        &copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
        <a href="#">Terms</a>
      </p>
    </footer>

    <!-- Include javascript -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/holder.min.js"></script>
    <script src="../static/assets/js/bootstrap.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/npm.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <!-- end javascript -->
  </body>
</html>
